alias dssh='ssh -p 2222'
alias dscp='scp -P 2222'

# paths
alias kyos='cd ~/kyos'
alias kd='cd ~/kyos/kyosonline/development'
alias kc='cd ~/kyos/kyosonline/code'
alias ke='cd ~/kyos/kyosonline/e2e/cypress'
alias it='cd ~/Projects/kyos/itsupport'
alias ct='cd ~/Projects/kyos/clients'

# docker-compose
alias kddown='kd && docker-compose down && cd -'
alias kdup='kd && docker-compose up -d && cd -'
alias kdps='kd && docker-compose ps && cd -'
alias cronstop='kd && docker-compose stop cron && cd -'
alias cronstart='kd && docker-compose start cron && cd -'

# container execs
alias dmysql='docker exec -it mysql-db mysql -u root -proot kyosonline'
alias dcron='docker exec -it cron /bin/bash'
alias dphp='docker exec -it php-server /bin/bash'

# xdebug related
alias xdon='docker exec -it php-server /bin/bash -c "xdebug-switch 1" && docker stop php-server && docker start php-server'
alias xdoff='docker exec -it php-server /bin/bash -c "xdebug-switch 0" && docker stop php-server && docker start php-server'